{{#each pokemonList}}
  <div class="pokemon-card">
    <div class="image-container">
      <img src="{{itemLink}}" alt="{{item}}" class="item-image" title="{{item}}" />
      <img src="{{imageLink}}" alt="{{name}}" class="pokemon-image" title="{{name}}" />
    </div>
    <p class="teraType" style="background-color:{{teraColor}}">{{tera}}</p>
    <p class="ability"><strong>{{ability}}</strong></p>
    <p class="move">{{move1}}</p>
    <p class="move">{{move2}}</p>
    <p class="move">{{move3}}</p>
    <p class="move">{{move4}}</p>
  </div>
{{/each}}